@charset "UTF-8";

/* 
以下のCSSは「リセットCSS」といいます。
各ブラウザには最初から一部CSSの値が設定されており、それをリセットして見栄えを統一するために使われます。
コピペで自身のCSSファイルに貼っておいてください。
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;   
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* リセットCSS おわり */


header{
    position: fixed;
    width: 100%;
    margin-top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    justify-items: start;
    align-items: center;
    padding: 12px 40px;
    z-index: 100;
}
header .menu_list{
    color: #fff;
    font-size: 16px;
    display:flex;
    gap: 48px;
    margin-left: 55px;
}
header .header_logo{
  width: 135px;
  height: 76px;
}
header .button {
  display: flex;
  color: #fff;
  gap: 15px;
  margin-left:auto;
}
.reservation {
  background-color: #78781E;
  padding: 4px 21px;
}
.carender {
  padding: 4px 15px;
  border: 1px solid #fff;
}
.main {
  clear: both;
  width: 100%;
  height: auto;
  background-image: url("../img/main_bg.jpg");
  background-position: 50% 99%;
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
  padding: 0px 0px 100px;
}
.main .kv_bg {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.main .kv_logo {
  position: absolute;
  margin-left: 11%;
  margin-top: 29%;
}
.main .title {
  display: flex;
  align-items: center;
  width: 304px;
  height: 648px;
  writing-mode: vertical-rl;
  font-size: 48px;
  margin: auto;
  margin-top: 150px; 
  letter-spacing: 0.5em;
  line-height: 80px;
  
}

.main .text {
  width: 634px;
  height: 231px;
  font-size: 14px;
  line-height: 3;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}
.main .main_image {
  width: 92%;
  height: auto;
  margin: 80px auto;
}

.main .main_movie{
  margin: auto;
}

.info {
  width: 100%;
  height: auto;
  justify-items: center;
  padding: 100px 140px 134px;
}
.info .title{
  width: 300px;
  height: 44px;
  font-size: 36px;
  text-align: center;
}
.info .subtitle{
  width: 319px;
  height: 16px;
  font-size: 16px;
  margin-top: 10px;
  color: #828282;
  text-align: center;
  letter-spacing: 3;
}

.info .news_list{
  width: 1000px;
  margin-top: 40px;
  border-top: 1px solid #CCCCCC;
  font-size: 14px;
}
.info .news_list li {
  padding: 20px 0;
  border-bottom: 1px solid #CCCCCC;
}
.info .news_list li a{
  display: flex;
  height: 14.5px;
  align-items: center;
}
.info .news_icon {
  width: 100px;
  height: 17px;
  color: #fff;
  background-color: #78781E;
  display: flex;
  align-items: center;   /* ← 縦方向の中央揃え */
  justify-content: center;/* ← 横方向の中央揃え */
  margin-left: 0;
}
.info .news_time {
  margin-left: 50px;
  color: #888888;
}
.info .news_name {
  margin-left: 50px;
}

.info .button{
  display: block;
  width: 120px;
  height: 14.5px;
  font-size: 14px;
  color: #868686;
  margin-top: 20px;
  margin-left: 880px;
}

.plan{
  width: 100%;
  height: auto;
  background-color: #E8E7E2;
  justify-items: center;
  padding-top: 90px;
}

.plan .title{
  font-size: 36px;
}

.plan .subtitle {
  font-size: 16px;
  color: #828282;
  letter-spacing: 3;
}

.plan .plan_body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin: 40px 141px 50px;

}
.plan .plan_main{
  width: 476px;
  height: auto;
  background-color: #fff;
}
.plan .main_image {
  width: 100%;
  height: auto;
}
.plan .plan_main .main_text {
  color:#78781E;
  font-size: 16px;
  margin: 20px 13px 0;
  letter-spacing: 2.8;
}
.plan .plan_main .main_subtext{
  font-size: 14px;
  margin: 10px 13px 0;
}

.plan .plan_main .main_button{
  display: block;
  color: #868686;
  margin: 40px 13px 0;
  text-align: right;
}

.plan .text {
  width: 100%;
  height: auto;
  justify-items: center;
  margin-top: 50px;
}

.plan .text .text_title {
  color: #78781E;
  font-size: 22px;
  text-align: center;
}

.plan .text_hr {
  width: 800px;
  height: auto;
  margin-top: 10px;
  border-bottom: 1px solid #000;
}

.plan .text_subtitle {
  margin-top: 34px;
  font-size: 16px;
}

.plan .text_message {
  margin-top: 34px;
  font-size: 10px;
}

.plan .button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 125px;
  color: #fff;
  margin: 87px 0 0;
}

.plan .plan_button01 {
  display: grid;
  background-color: #78781E;
  text-align: center;
  align-content: center;
}

.plan .plan_button02 {
  display: grid;
  background-color: #333333;
  text-align: center;
  align-content: center;
}

.plan .button_text01{
  font-size: 10px;
}

.plan .button_text02{
  font-size: 26px;
}

.value {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
  padding: 15px 0;
  color: #fff;
}
.value .nature{
  background-image: url(../img/nature\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.value .room {
  background-image: url(../img/room\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.value .food {
  background-image: url(../img/food\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.value .onsen {
  background-image: url(../img/onsen\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.value .title{
  margin: 150px 0;
  text-align: center;

}

.value .title .main_title {
  font-size: 48px;
}
.value .title .sub_title {
  font-size: 16px;
}
.value .title .text {
  font-size: 24px;
  margin-top: 55px;
}

.map {
  display: block;
  width: 100%;
  height: auto;
  justify-items: center;
}
.map .map_image{
  width: 100%;
}
.map .button_list{
  width: 38%;
  height: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 60px;
}

.map .button_list .button01{
  background-color: #BBBBBB;
}
.map .button_list .button02{
  background-color: #222222
}
