@charset "UTF-8";

/* 
以下のCSSは「リセットCSS」といいます。
各ブラウザには最初から一部CSSの値が設定されており、それをリセットして見栄えを統一するために使われます。
コピペで自身のCSSファイルに貼っておいてください。
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 1280px;   
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* リセットCSS おわり */


header{
    position: fixed;
    width: 100%;
    margin-top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    justify-items: start;
    align-items: center;
    padding: 12px 40px;
}
header .menu_list{
    color: #fff;
    font-size: 16px;
    display:flex;
    gap: 48px;
    margin-left: 55px;
}
header .header_logo{
  width: 135px;
  height: 76px;
}
header .button {
  display: flex;
  color: #fff;
  gap: 15px;
  margin-left:auto;
}
.reservation {
  background-color: #78781E;
  padding: 4px 21px;
}
.carender {
  padding: 4px 15px;
  border: 1px solid #fff;
}

.kv {
  background-image: url("../img/kv\ 1.jpg");
}